COGNITO_USER_POOL_ID=
COGNITO_CLIENT_ID=


AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=
# Baked into the client bundle at build time by docker-compose.yaml.
VITE_COGNITO_USER_POOL_ID=
VITE_COGNITO_CLIENT_ID=
